<!doctype html>
<html lang="en" ng-app="MyTodoMvc">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>殷晨东TodoMVC</title>
		<link rel="stylesheet" href="angular/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body ng-controller="MainController">
		<section class="todoapp">
			<header class="header">
				<h1>todos</h1>
				<form ng-submit="add()">
					<input class="new-todo" placeholder="今天做啥呢?"  ng-model='text' autofocus >
				</form>
			</header>
			<section class="main">
				<input class="toggle-all" type="checkbox" ng-click='toggle()'>
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li ng-repeat='todo in todos | filter:selector' ng-class='{completed:todo.completed,editing:todo.id===bianji}'>
						<div class="view">
							<input class="toggle" type="checkbox" ng-model='todo.completed'>
							<label ng-dblclick='editing(todo.id)'>{{todo.text}}</label>
							<button class="destroy" ng-click="remove(todo.id)"></button>
						</div>
						<form ng-submit='save()'>
							<input class="edit" ng-model='todo.text' ng-blur='save()'>
						</form>
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{todos.length}}</strong> 项剩余</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a href="#/" ng-class="{selected:$location.path()=='/'}">全部</a>
					</li>
					<li>
						<a href="#/active" ng-class="{selected:$location.path()=='/active'}">未完成</a>
					</li>
					<li>
						<a href="#/completed" ng-class="{selected:$location.path()=='/completed'}">已完成</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click='clear()' ng-show='existCompleted()'>清空已完成</button>
			</footer>
		</section>
		<footer class="info">
			<p>双击去编辑</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">殷晨东</a></p>
			<p>Part of <a href="http://todomvc.com">Angular</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="angular/angular/angular.js"></script>
		<script src="js/app3test.js"></script>
	</body>
</html>
