<!doctype html>
<html lang="en" ng-app="MyTodoMvc">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>殷晨东TodoMVC</title>
		<link rel="stylesheet" href="angular/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->

	</head>
	<body ng-controller="MainController" ng-mouseover="hover=true" ng-mouseleave="hover=false">
		<section class="todoapp"  class='position:relative'>
		<div class='todosTime' ng-if='hover'>{{theTime}}</div>
			<header class="header">
				<h1 id='teshu'>任务清单</h1>
				<form ng-submit="add()">
					<input type='text' class="new-todo" placeholder="今天做啥呢?"  ng-model='text' autofocus >
				</form>
			</header>
			<section class="main">
				<input class="toggle-all" type="checkbox" ng-click='toggle()'>
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<li ng-repeat='todo in todos | filter:selector' ng-class='{completed:todo.completed,editing:todo.id===bianji}'>
						<div class="view">
							<input class="toggle" type="checkbox" ng-model='todo.completed'>
							<label ng-click='editing(todo.id)'>{{todo.text}}</label>
							<button class="destroy" ng-click="remove(todo.id)"></button>
						</div>
						<form ng-submit='save(todo.text)'>
							<input class="edit" ng-model='todo.text' ng-blur='save(todo.text)'>
						</form>
					</li>
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{todos.length}}</strong> 项剩余</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a href="#/" ng-class="{selected:$location.path()=='/'}">全部</a>
					</li>
					<li>
						<a href="#/active" ng-class="{selected:$location.path()=='/active'}">未完成</a>
					</li>
					<li>
						<a href="#/completed" ng-class="{selected:$location.path()=='/completed'}">已完成</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" ng-click='clear()' ng-show='existCompleted()'>清空已完成</button>
			</footer>
		</section>
		<footer class="info">
			<p>单击可编辑已添加项</p>
			<p>末尾加/t添加时间</p>
			<!-- Remove the below line ↓ -->
			<!-- Change this out with your name and url ↓ -->
			<p>制作者：<a href="#">殷晨东</a></p>
			<p>杭州天气情况:<span>白天：{{weather}} <span>温度:</span><span>{{Centigrade}}°</span></span></span></p>
			<p>夜晚:{{nightweather}}  <span>温度:</span><span>{{nightCentigrade}}°     <span>版本<a href="#">V2.1(死都不修改版)</a></span>
		</p>	
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="angular/angular/angular.js"></script>
		<script src="js/app3test.js"></script>
	</body>
</html>
